<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Login -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Journal More</h1>
							<p class="major">Welcome to Journal More! A place to put down your thoughts, keep them to yourself, or even share them.</p>
							<ul class="actions stacked">
								<li><a href="/auth/google" class="button big wide smooth-scroll-middle">Login with Google</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/diary.jpg" alt="photo of a diary" />
						</div>
					</section>
            </div>