<!-- Seven -->
					<section class="wrapper style1 align-center">
						<div class="inner medium">
							<h2>New Journal Entry</h2>
							<form method="post" action="/stories">
								<div class="fields">
									<div class="field half">
										<label for="title">Title</label>
										<input type="text" name="title" id="title" value="" />
									</div>
									<div class="field half">
										<label for="status">Status</label>
                                        <select id="status" name="status">
                                            <option value="public" selected>Public</option>
                                            <option value="private">Private</option>
                                        </select>
									</div>
									<div class="field">
										<label for="body">Entry</label>
                                        <textarea id="body" name="body" rows="6"></textarea>
									</div>
								</div>
								<ul class="actions special">
									<li><input type="submit" name="submit" id="submit" value="Save" class="button fit"/></li>
                                    <li><a href="/dashboard"><input type="button" value="Cancel" class="button fit"></a></li>
								</ul>
							</form>

						</div>
					</section>